.views-az-filter-list {
  padding: 0;
  margin: 0;
}
.views-az-filter-list li {
  list-style: none;
  float: left;
  padding: 0 4px 0 0;
}
.az-filter-pager {
  overflow: hidden;
}
.az-filter-previous {
  float: left;
}
.az-filter-next {
  float: right;
}
